.parent_theBest {
  padding: 50px 0px 0px 0px;
}
.parent_theBest .child_theBest .mainText_theBest {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.parent_theBest .child_theBest .mainText_theBest h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 125.3%;
  color: #000000;
}
@media screen and (max-width: 1000px) {
  .parent_theBest .child_theBest .mainText_theBest h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) {
  .parent_theBest .child_theBest .mainText_theBest h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) and (max-width: 450px) {
  .parent_theBest .child_theBest .mainText_theBest h2 {
    font-size: 25px;
    letter-spacing: 0px;
    font-weight: 500;
  }
}
.parent_theBest .child_theBest .mainText_theBest h2::first-letter {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 125.3%;
  letter-spacing: 10px;
  color: #FF4004;
}
@media screen and (max-width: 1000px) {
  .parent_theBest .child_theBest .mainText_theBest h2::first-letter {
    font-size: 60px;
    letter-spacing: 6px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) {
  .parent_theBest .child_theBest .mainText_theBest h2::first-letter {
    font-size: 40px;
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) and (max-width: 450px) {
  .parent_theBest .child_theBest .mainText_theBest h2::first-letter {
    font-size: 25px;
    letter-spacing: 3px;
  }
}