.parent_addFavorite {
  position: absolute;
  top: 20px;
  right: 25px;
}
@media screen and (max-width: 520px) {
  .parent_addFavorite {
    top: 5px;
    right: 0px;
  }
}
.parent_addFavorite button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 50px;
}