.parent_sliderWriter {
  padding: 0px;
}
.parent_sliderWriter .child_sliderWriter .mainText_sliderWriter {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 125.3%;
  color: #000000;
}
@media screen and (max-width: 1000px) {
  .parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) {
  .parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) and (max-width: 450px) {
  .parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}
.parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2::first-letter {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 125.3%;
  letter-spacing: 15px;
  color: #FF4004;
}
@media screen and (max-width: 1000px) {
  .parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2::first-letter {
    font-size: 60px;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) {
  .parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2::first-letter {
    font-size: 40px;
    letter-spacing: 8px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) and (max-width: 450px) {
  .parent_sliderWriter .child_sliderWriter .mainText_sliderWriter h2::first-letter {
    font-size: 18px;
    letter-spacing: 5px;
  }
}