.parent_eyeBtn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.parent_eyeBtn div {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
}
.parent_eyeBtn div img {
  width: 100%;
  height: 100%;
}