.parentBlock_mainLogin form {
  width: 100%;
  margin-bottom: 20px;
}
.parentBlock_mainLogin form .login_block {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}
.parentBlock_mainLogin form .login_block > .input_email {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px !important;
  padding: 0px 40px 0 50px !important;
  border: 1px solid #2A2A2A !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  background-image: url("../../../assests/images/windows/email.svg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position: 15px;
  cursor: pointer;
}
.parentBlock_mainLogin form .password_block {
  position: relative;
}
.parentBlock_mainLogin form .password_block input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #2A2A2A;
  font-weight: 600;
  font-size: 16px;
  padding: 0px 40px 0 50px;
  margin-bottom: 15px;
  background: url("../../../assests/images/windows/key.svg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position: 15px;
  cursor: pointer;
}
.parentBlock_mainLogin form .wrongEmail {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #DC7A07;
  text-align: left;
  padding: 5px 0 10px 10px;
  margin-top: -10px;
}
.parentBlock_mainLogin form .errorlogin_password {
  display: block;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #FF0404;
  padding: 5px 0 10px 10px;
  margin-top: -10px;
}
.parentBlock_mainLogin form button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 125.3%;
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  background-color: #FF4004;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.parentBlock_mainLogin > span {
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #2A2A2A;
}
.parentBlock_mainLogin > button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #FF4004;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
}