.parent_levelPassword {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}
.parent_levelPassword > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 134%;
  color: #2A2A2A;
}

b {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7C7C7C;
  padding: 2px 5px;
}