.back_shadow_changeData {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 16;
  top: 0;
  left: 0;
}

.parent_changeData {
  width: 650px;
  position: fixed;
  z-index: 17;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 2px 2px 50px 0px rgba(104, 104, 104, 0.25);
          box-shadow: 2px 2px 50px 0px rgba(104, 104, 104, 0.25);
  padding: 80px;
}
@media screen and (max-width: 750px) {
  .parent_changeData {
    padding: 20px;
    width: 340px;
  }
}
.parent_changeData > div {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div {
    width: 300px;
  }
}
.parent_changeData > div h6 {
  color: #000;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 125.303%;
  margin: 0 0 20px 0;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div h6 {
    font-size: 18px;
    font-weight: 600;
  }
}
.parent_changeData > div p {
  color: var(--unnamed, #7C7C7C);
  font-size: 18px;
  font-family: Roboto;
  line-height: 125%;
  margin: 8px 0;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div p {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  .parent_changeData > div > p {
    padding: 0 0 0 15px;
  }
}
.parent_changeData > div form {
  width: 100%;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div form {
    width: 90%;
    margin: 0 auto;
  }
}
.parent_changeData > div form .lookBtn {
  position: relative;
}
.parent_changeData > div form input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 2px solid var(--unnamed, #2A2A2A);
  color: var(--unnamed, #7C7C7C);
  font-size: 18px;
  font-family: Roboto;
  line-height: 125%;
  margin: 0 0 20px 0;
  padding: 0 15px;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div form input {
    height: 35px;
    border-radius: 7px;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 750px) {
  .parent_changeData > div form input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .parent_changeData > div form input::-moz-placeholder {
    font-size: 16px;
  }
  .parent_changeData > div form input:-ms-input-placeholder {
    font-size: 16px;
  }
  .parent_changeData > div form input::-ms-input-placeholder {
    font-size: 16px;
  }
  .parent_changeData > div form input::placeholder {
    font-size: 16px;
  }
}
.parent_changeData > div form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.parent_changeData > div form > div button:nth-child(2) {
  border-radius: 10px;
  border: 3px solid var(--unnamed, #FF4004);
  background: var(--unnamed, #FF4004);
  padding: 8px 30px;
  color: var(--unnamed, #FFF);
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 134%;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div form > div button:nth-child(2) {
    padding: 5px 10px;
  }
}
.parent_changeData > div form > div button:nth-child(1) {
  border-radius: 10px;
  border: none;
  background: #fff;
  padding: 8px 30px;
  color: #000;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 134%;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .parent_changeData > div form > div button:nth-child(1) {
    padding: 5px 10px;
  }
}