.parent_UserLogin {
  text-align: left;
}
@media screen and (max-width: 600px) {
  .parent_UserLogin {
    text-align: center;
  }
}
.parent_UserLogin > button {
  background-color: transparent;
  padding: 5px 35px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.3%;
  color: #7C7C7C;
}
@media screen and (max-width: 500px) {
  .parent_UserLogin > button {
    font-size: 20px;
  }
}
.parent_UserLogin a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px 0 0;
  cursor: pointer;
}
.parent_UserLogin a > div p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #2A2A2A;
  max-width: 110px;
  height: 25px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  text-align: right;
}
@media screen and (max-width: 900px) {
  .parent_UserLogin a > div p {
    text-align: center;
  }
}
.parent_UserLogin a > div > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.parent_UserLogin a > div > div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}